body {
    background-color: white !important;
}

.custom-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Hanya berlaku di breakpoint medium (md) dan lebih besar */
@media (min-width: 992px) {
    .custom-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
