APP_NAME=NuklindoLab
APP_ENV=local
APP_KEY=base64:Ci62PD9b7HX6vWA2pMu3eHHtRS1gL9SDqaRtx6+4k30=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_koperasilab
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=9363cbc1eafc52
MAIL_PASSWORD=2855b631d4c4ea
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="admin@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1640370
PUSHER_APP_KEY=dfa7dea46d416dbf021e
PUSHER_APP_SECRET=bd7354165d2ca9c0d809
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID="954282908361-1llq6kiqsf2bfu6nv00m1d25u5msrfsb.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

NOCAPTCHA_SECRET=6Les8HknAAAAAJemr4TWMBQRoFVH1yRSbp4t8oBe
NOCAPTCHA_SITEKEY=6Les8HknAAAAAIzC33zIsoIMT19l1q2JyAIlDZYq

ENCRYPTION_KEY = $2y$18$QQ8Wz4C4PgB6aIsIt8q1FuKW2EhkRkvXoy7kFqjOEu25TnkMUnAva7879934e3f73ff225d29470b873b7e109eb251915f966ba856d576731aefa159914b40309f3ae0a84bf09d9a621fe15ff0f12c76be2cfc7529cc69afb1dafdb81bb36ebda0abe8b98a78bfb16eed4e2aUG9ydGFsLnRlbGtvbS5jby5pZC0yMDE5JDJ5JDE4JFFROFd6NEM0UGdCNmFJc0l0OHExRnVLVzJFaGtSa3ZYb3k3a0Zxak9FdTI1VG5rTVVuQXZhNzg3OTkzNGUzZjczZmYyMjVkMjk0NzBiODczYjdlMTA5ZWIyNTE5MTVmOTY2YmE4NTZkNTc2NzMxYWVmYTE1OTkxNGI0MDMwOWYzYWUwYTg0YmYwOWQ5YTYyMWZlMTVmZjBmMTJjNzZiZTJjZmM3NTI5Y2M2OWFmYjFkYWZkYjgxYmIzNmViZGEwYWJlOGI5OGE3OGJmYjE2ZWVkNGUyYQ==KoperasiLAB-2023
